/* .container{
  width: 100%;
  max-width: 960px;
  margin:100px auto;
  flex-grow: 1;

  margin: 0 auto;
} */

/* 
.outer{
    display: flex-direction row;
    flex-wrap: wrap;
    width: 100%;
 } */

/* 
.cardname{
  width:100%; 
  min-height: 100%;
  object-fit: cover;
  object-position: contain;
} */
/* 
.align-content-start{
  justify-content: center;

} */


.container{
 display: flex;

}

.box-1{
  flex:2;
}

.quick-add-btn{
  color: black;
  height: 2rem;
  padding: 20 10px;
  border-radius: 8px;
  background-color: #FEFBE7;
  letter-spacing: 3px;
  margin: 40px;
}
