.containerCarousel{
  padding: 30px;
  /* max-height: 625px; */
  scroll-snap-type: x mandatory;
  scroll-padding: 0 24px;
}

.title{
  text-decoration: underline;
  text-decoration-thickness: 3px ;
  background-color: white;
  font-size: 200px;
}

/* 
#carouselSlider{
  width: 100%;
  display: block;
  text-align: center;
  background-color: white;

  scroll-snap-type: x mandatory;
  scroll-padding: 0 24px;
} */

.carousel-item {
  /* height: 720px; */
  border-style: none;

  scroll-snap-align: start;

}


.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}


.top-left{
  text-align: left;
  top: 8px;
  left: 16px;
}