
.landing-page{
  background-color:#e0f2f1;
  padding: 85px;
}
.container{
  margin:100px auto;

}

.roundimg{
  border-radius: 8%;

}

.col{
  color: #272343;
  letter-spacing: 7px;
}

p{
  letter-spacing: normal;
}