/* body {
  background-image: url(/src/components/Images/home.jpg);
  background-size: 90em;
  resize: horizontal;
  justify-content: center;
} */

img {
  height: 1200px;
  justify-content: center;
}