
.landing-page{
  background-color:#f1f8e9;
  padding: 85px;
}
.container{
  margin:100px auto;

}

.roundimg{
  border-radius: 8%;

}

.col{
  color: #272343;
  letter-spacing: 7px;
}

p{
  letter-spacing: normal;
}

*{
  font-family: 'Varela Round', sans-serif;


}
