.signup {
    margin-bottom: 150px;
}

.signin-content {
    padding-top: 67px;
    padding-bottom: 87px;
}

.material-icons-name {
    font-size: 18px;
}


.form-group {
  /* position: relative; */
  margin-bottom: 25px;
  width: 500px;
}

input {
    width: 100%;
    /* display: block; */
   
}
