/* .signup {
    margin-bottom: 150px;
} */


/* .container {
    justify-content: center;

} */
/* .signin-content {
    padding-top: 67px;
    padding-bottom: 87px;
} */

/* .material-icons-name {
    font-size: 18px;
} */

.signup-image {
    margin: 0 55px;
}


.form-group {
  /* margin-bottom: 25px; */
  width: 500px;
}

/* input {
    width: 100%;
   
} */
