

.signin{
    background-color: #f5f5f5;
}

.signin-form{
    padding: 0%;
    margin-top: 200px;
}

.form-group, .form-title{
    padding: 0 180px;
}

.social-login{
    padding: 130px;
}

.socials{
    height: 40px;
}

.form-group {
  width: 500px;
}


.image{
    width: 100%;
    
}