.register-form{
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}

.signup-form{
  margin-top: 2em;
}
.form-group-r {
    margin-bottom: 25px;
    padding: 0 180px;

}

input {
    border: none;
}

.registration-image{
    width: 100%;

}
