.register-form{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    overflow: hidden;
}

.signup-form{
  margin-top: 2em;
}
.form-group {
    position: relative;
    margin-bottom: 25px;
    overflow: hidden;

}

input {
    width: 100%;
    display: block;
    border: none;
}